* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
html{
    scroll-behavior: smooth;
}
.links:hover{
    color: red;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: white;
}
header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    color: #ccc;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
}

ul {
    list-style: none;
    margin: 1rem 0;
}

ul li {
    padding: 0.5rem 0;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-weight: bold;
}

input, textarea, button {
    padding: 0.8rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

#formMessage {
    color: green;
    margin-top: 1rem;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    section {
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    input, textarea, button {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1.5rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 0.9rem;
    }

    section {
        padding: 1rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    input, textarea, button {
        font-size: 0.8rem;
    }
}
